@inherits LayoutComponentBase
@using RelevanceSiteStudyProject.Components.Pages
@using RelevanceSiteStudyProject.Shared
@using static RelevanceSiteStudyProject.Components.Pages.Notification

<link href="_content/Microsoft.FluentUI.AspNetCore.Components/css/reboot.css" rel="stylesheet" />
<link href="_content/Microsoft.FluentUI.AspNetCore.Components/css/theme.css" rel="stylesheet" />

<div class="main-layout">
    <header class="bg-dark text-white p-3">
        <NavMenu></NavMenu>
        <NotificationBell />
    </header>

    <main class="container my-4">
        @Body
    </main>

    <footer class="text-center text-muted py-3">
        <small>&copy; @DateTime.Now.Year – Relevance Study App</small>
    </footer>
</div>


@code {

}
