@inherits LayoutComponentBase
@using RelevanceSiteStudyProject.Shared

<div class="main-layout">
    <header class="bg-dark text-white p-3">    
            <NavMenu></NavMenu>
    </header>

    <main class="container my-4">
        @Body
    </main>

    <footer class="text-center text-muted py-3">
        <small>&copy; @DateTime.Now.Year – Relevance Study App</small>
    </footer>
</div>
