@using Microsoft.AspNetCore.Components.Forms
@inherits ComponentBase

@if (IsVisible)
{
    <div class="notification @NotificationTypeCss">
        <span class="notification-message">@Message</span>
        <button class="notification-close" @onclick="CloseNotification">X</button>
    </div>
}

@code {
}
