@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Identity
@using RelevanceSiteStudyProject.Data
@using RelevanceSiteStudyProject.Shared
@inject SignInManager<User> SignInManager
@inject NavigationManager Navigation

<ul class="nav">
    <li class="nav-item">
        <NavLink class="nav-link text-white" href="/">Home</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link text-white" href="/pagination-posts">Pagination</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link text-white" href="/scroll-posts">Infinite Scroll</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link text-white" href="/db-posts">Database Posts</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link text-white" href="/login">Login</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link text-white" href="/logout">Logout</NavLink>
    </li>
</ul>


@code {
    protected override void OnInitialized()
    {
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
        }
    }
}