@using Microsoft.AspNetCore.Components.Routing

<ul class="nav">
    <li class="nav-item">
        <NavLink class="nav-link text-white" href="/">Home</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link text-white" href="/pagination-posts">Pagination</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link text-white" href="/scroll-posts">Infinite Scroll</NavLink>
    </li>
</ul>